In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import mysql.connector
import random
from datetime import datetime, timedelta

In [2]:
firstnames = ['John', 'Jane', 'Mike', 'Emily', 'Adam', 'Olivia']
lastnames = ['Smith', 'Johnson', 'Williams', 'Brown', 'Jones', 'Garcia']
current_year = datetime.now().year
start_date = datetime(2023, 1, 1)
end_date = datetime(2024, 6, 30)

In [3]:
def determine_gender(f_value):
    return 'FEMALE' if f_value == 1 else 'MALE'

def add_random_names(df, firstnames, lastnames):
    # Chọn ngẫu nhiên firstname và lastname cho từng hàng trong df
    df['first_name'] = np.random.choice(firstnames, size=len(df))
    df['last_name'] = np.random.choice(lastnames, size=len(df))
    return df

def add_email(df):
    df['email'] = df['id'] + '@gmail.com'
    df['password'] = '$2a$07$JCPYiA7jedGe6iczhFLzIug2Tz.JvK2cd7OlGr8/iUqgi38oR9H6u'
    df['role'] = 'ROLE_USER'
    df['status'] = 'ACTIVE'
    return df

def add_birth_date(df):
    df['birth_year'] = current_year - df['Age']

    # Tạo ngẫu nhiên ngày sinh và tháng sinh
    df['birth_month'] = [random.randint(1, 12) for _ in range(len(df))]
    df['birth_day'] = [random.randint(1, 28) for _ in range(len(df))] 
    
    df['birth_day'] = df['birth_day'].astype(str)
    df['birth_month'] = df['birth_month'].astype(str)
    df['birth_year'] = df['birth_year'].astype(str)
    df['birth_date'] = df['birth_year']+ '-' + df['birth_month'] + '-' + df['birth_day']

    
    # df['birth_date'] = pd.to_datetime(df[['birth_day', 'birth_month', 'birth_year']])
    df.drop(columns=['birth_month', 'birth_day', 'birth_year'], inplace=True)
    random_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    df['created_at'] = random_date
    df['updated_at'] = df['created_at']
    
    return df

engine = create_engine('mysql+pymysql://root:hcmute@localhost:3306/shopfee')

In [4]:
df = pd.read_csv('user.csv')

In [5]:
df.head()

      UserID  Age  F  M
0  U00000001   16  1  0
1  U00000002   35  0  1
2  U00000003   25  0  1
3  U00000004   29  0  1
4  U00000005   25  0  1

In [6]:
df = pd.read_csv('user.csv')

# Lấy ra các trường cần thiết
df = df[['UserID', 'F', 'M', 'Age']]

df['gender'] = df['F'].apply(determine_gender)
df = df.drop(columns=['F', 'M'])
df = df.rename(columns={'UserID': 'id'})
df = add_random_names(df, firstnames, lastnames)
df = add_email(df)
df = add_birth_date(df)

df.head()

,id,Age,gender,first_name,last_name,email,password,role,status,birth_date,created_at,updated_at
0,U00000001,16,FEMALE,Jane,Brown,U00000001@gmail.com,$2a$07$JCPYiA7jedGe6iczhFLzIug2Tz.JvK2cd7OlGr8...,ROLE_USER,ACTIVE,2008-10-25,2024-05-28,2024-05-28
1,U00000002,35,MALE,Jane,Brown,U00000002@gmail.com,$2a$07$JCPYiA7jedGe6iczhFLzIug2Tz.JvK2cd7OlGr8...,ROLE_USER,ACTIVE,1989-11-18,2024-05-28,2024-05-28
2,U00000003,25,MALE,Olivia,Williams,U00000003@gmail.com,$2a$07$JCPYiA7jedGe6iczhFLzIug2Tz.JvK2cd7OlGr8...,ROLE_USER,ACTIVE,1999-6-9,2024-05-28,2024-05-28
3,U00000004,29,MALE,Jane,Garcia,U00000004@gmail.com,$2a$07$JCPYiA7jedGe6iczhFLzIug2Tz.JvK2cd7OlGr8...,ROLE_USER,ACTIVE,1995-12-1,2024-05-28,2024-05-28
4,U00000005,25,MALE,Mike,Brown,U00000005@gmail.com,$2a$07$JCPYiA7jedGe6iczhFLzIug2Tz.JvK2cd7OlGr8...,ROLE_USER,ACTIVE,1999-10-21,2024-05-28,2024-05-28

In [7]:

unique_ages = df['id'].unique()
len(unique_ages)

6040

In [8]:
df[df['id'] == 'U00000001']

,id,Age,gender,first_name,last_name,email,password,role,status,birth_date,created_at,updated_at
0,U00000001,16,FEMALE,Jane,Brown,U00000001@gmail.com,$2a$07$JCPYiA7jedGe6iczhFLzIug2Tz.JvK2cd7OlGr8...,ROLE_USER,ACTIVE,2008-10-25,2024-05-28,2024-05-28

In [9]:
cnx = mysql.connector.connect(
    user='root',
    password='hcmute',
    host='localhost',
    database='shopfee',
    port=3307
)

table_name = 'user'
insert_query = """
INSERT INTO {} (id, gender, first_name, last_name, email, password, role, status, created_at, updated_at, birth_date)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
    gender = VALUES(gender),
    first_name = VALUES(first_name),
    last_name = VALUES(last_name),
    email = VALUES(email),
    password = VALUES(password),
    role = VALUES(role),
    status = VALUES(status),
    created_at = VALUES(created_at),
    updated_at = VALUES(updated_at),
    birth_date = VALUES(birth_date)
""".format(table_name)


cursor = cnx.cursor()
# Lưu DataFrame vào MySQL
table_name = 'user'
for index, row in df.iterrows():
    if(index == 0):
        print(insert_query)
    cursor.execute(insert_query, (row['id'], row['gender'], row['first_name'], row['last_name'], row['email'], row['password'], row['role'], row['status'], row['created_at'], row['updated_at'], row['birth_date']))
cnx.commit()
cursor.close()
cnx.close()

INSERT INTO user (id, gender, first_name, last_name, email, password, role, status, created_at, updated_at, birth_date)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
    gender = VALUES(gender),
    first_name = VALUES(first_name),
    last_name = VALUES(last_name),
    email = VALUES(email),
    password = VALUES(password),
    role = VALUES(role),
    status = VALUES(status),
    created_at = VALUES(created_at),
    updated_at = VALUES(updated_at),
    birth_date = VALUES(birth_date)

In [10]:
df.shape

(6040, 12)

: